body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    padding: 50px;
}

.game-container {
    width: 70%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.message-container {
    width: 30%;
    max-width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-left: 20px;
}

.btn {
    border: none;
    outline: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #0056b3;
}

.hide {
    display: none;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    justify-content: center;
}

.correct {
    background-color: #4caf50;
}

.wrong {
    background-color: #f44336;
}

#score-container {
    text-align: center;
}

#score {
    font-size: 24px;
    margin-bottom: 20px;
}

.lifeline-btn {
    background-color: #ffa500;
}

.lifeline-btn:disabled {
    background-color: #cccccc;
}
.message-container {
    width: 30%;
    max-width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-left: 20px;
}

#audienceChart {
    margin-top: 20px;
}
