<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instrucciones del Juego de TribGame</title>
    <link rel="stylesheet" href="../css/reglas.css">
</head>
<body>
    <header>
        <div class="logo">
          <a href="../index.html"><img src="../img/logo.png" alt="Logo del Juego"></a>
        </div>
        <nav>
          <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="reglas.html">Instrucciones</a></li>
            <li><a href="documentos.html">Documentos</a></li>

            <!-- <li><a href="puntuaciones.html">Puntuaciones</a></li> -->
            <li><a href="ayuda.html">Ayuda</a></li>
          </ul>
        </nav>
      </header>
    <main>
        <section class="instructions">
          <h1>Ayuda - Juego de Trivia sobre Reciclaje y Medio Ambiente</h1>
          <h2>Información General</h2>
          <p>Bienvenido al Juego de Trivia sobre Reciclaje y Medio Ambiente. Este juego te permite poner a prueba tus conocimientos sobre temas relacionados con el reciclaje, la conservación del medio ambiente y la sostenibilidad.</p>
          <p>Para jugar, simplemente presiona el botón "Comenzar" y responde las preguntas seleccionando una de las opciones proporcionadas. ¡Buena suerte!</p>
          
          <h2>Contacto de los Creadores</h2>
          <div class="contact-info">
              <p>Si tienes alguna pregunta, comentario o sugerencia sobre el juego, no dudes en ponerte en contacto con nosotros:</p>
              <ul>
                  <li><strong>Correo electrónico:</strong> contacto@juegomedioambiental.com</li>
                  <li><strong>Teléfono:</strong> +1234567890</li>
                  <li><strong>Redes Sociales:</strong>
                      <ul>
                          <li>Twitter: <a href="https://twitter.com/juegoambiental">@juegoambiental</a></li>
                          <li>Facebook: <a href="https://www.facebook.com/juegomedioambiental">Juego Medioambiental</a></li>
                          <li>Instagram: <a href="https://www.instagram.com/juegoambiental">@juegoambiental</a></li>
                      </ul>
                  </li>
              </ul>
          </div>
        </section>
    </main>
</body>
</html>
