<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instrucciones del Juego de TribGame</title>
    <link rel="stylesheet" href="../css/reglas.css">
</head>
<body>
    <header>
        <div class="logo">
          <a href="../index.html"><img src="../img/logo.png" alt="Logo del Juego"></a>
        </div>
        <nav>
          <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="reglas.html">Instrucciones</a></li>
            <li><a href="documentos.html">Documentos</a></li>
            <li><a href="ayuda.html">Ayuda</a></li>
          </ul>
        </nav>
      </header>
    <main>
        <section class="instructions">
            <h1>Reglas del Juego de Trivia sobre Reciclaje y Medio Ambiente</h1>
            <ul>
                <li><strong>Inicio del Juego:</strong> El jugador comienza el juego presionando el botón "Comenzar". Se presentará la primera de un total de 40 preguntas relacionadas con reciclaje y medio ambiente.</li>
                <li><strong>Formato de las Preguntas:</strong> Cada pregunta tendrá cuatro posibles respuestas. Solo una de las respuestas es correcta.</li>
                <li><strong>Selección de Respuestas:</strong> El jugador seleccionará una respuesta haciendo clic en uno de los cuatro botones de respuesta. Si la respuesta seleccionada es incorrecta, el botón se pondrá rojo. Si es correcta, se pondrá verde y se avanzará a la siguiente pregunta.</li>
                <li><strong>Sistema de Puntuación:</strong> Por cada respuesta correcta, el jugador obtiene 10 puntos. No se otorgan puntos por respuestas incorrectas.</li>
                <li><strong>Avance de Preguntas:</strong> El juego continúa con una nueva pregunta tras cada respuesta correcta hasta completar las 10 preguntas. Si el jugador selecciona una respuesta incorrecta, el juego termina y se muestra la puntuación obtenida.</li>
                <li><strong>Comodines:</strong> El jugador dispone de cuatro comodines, cada uno se puede usar una vez por juego:
                    <ul>
                        <li><strong>50/50:</strong> Elimina dos de las respuestas incorrectas, dejando solo una correcta y una incorrecta.</li>
                        <li><strong>Llamar a un amigo:</strong> Un mensaje simula una sugerencia de un amigo con un 70% de probabilidad de ser correcta.</li>
                        <li><strong>Preguntar al público:</strong> Muestra un gráfico de barras con la opinión del público, con un 85% de probabilidad de que la mayoría vote por la respuesta correcta.</li>
                        <li><strong>Preguntar al profesor:</strong> Un mensaje proporciona la respuesta correcta.</li>
                    </ul>
                </li>
                <li><strong>Finalización del Juego:</strong> El juego termina cuando el jugador contesta las 40 preguntas o selecciona una respuesta incorrecta. Al finalizar el juego, se muestra una pantalla con la puntuación total y la opción de volver a jugar.</li>
                <li><strong>Reinicio del Juego:</strong> El jugador puede reiniciar el juego en cualquier momento para intentar obtener una mejor puntuación.</li>
            </ul>
        </section>
    </main>
</body>
</html>
